body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  margin: 0;
}

header {
  background: #222;
  color: white;
  padding: 15px;
  text-align: center;
}

#searchInput {
  margin-top: 10px;
  padding: 8px 12px;
  width: 260px;
  border-radius: 6px;
  border: none;
}

#cartBar {
  background: #fff;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

#cartBar button {
  margin-left: 10px;
  padding: 6px 12px;
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  padding: 20px;
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  cursor: pointer;
}

.info {
  padding: 10px;
}

.price {
  color: green;
  font-weight: bold;
  font-size: 18px;
}

/* LOW STOCK (အဝါရောင်) */
.low-stock {
  border: 2px solid orange;
}

.out-stock {
  opacity: 0.6;
  border: 2px solid red;
}

.stock-label {
  position: absolute;
  top: 10px;
  left: 10px;
  background: red;
  color: white;
  padding: 6px;
  font-size: 12px;
}

/* OVERLAY */
#overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

.overlay-box {
  background: white;
  padding: 20px;
  max-width: 400px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 26px;
  color: red;
  cursor: pointer;
}

#addBtn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: green;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
